## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.vsidx
*.lock.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/

## User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Rider
.idea/

## Environment
appsettings.Local.json
*.env
